table, th, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
	weight:200px;
}

td, th {
	padding: 4px;
}

graphicImage {
	
	weight: 300px;
}

thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100%;
}

tbody th {
	font-weight: bold;
}

tbody tr { background: #FCFDFE; }

.button {
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px; /* Links */
}
.button2 {
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:0px 15px 0px 12px; /* Links */
}


label{
	float: left;
	width: 120px;
	font-weight: bold;
	 margin-bottom: 0%;
    display: block;
    color: #464646;
	font-size: 14px;
	font-weight: bold;
}

input, select{
	margin-bottom: 5px;
}

/*{
    margin: 0;
    padding: 0;
}*/

body {
	background-color:#535353;
}
 
fieldset {
    border: 0;
}

h2{
	background-color: #91B4C3;
	padding: 20px 20px;
	margin: -10px -50px;
	text-align:center;
	border-radius: 10px 10px 0 0;
	font-family: verdana;
	font-size: 30px;
	color: white;
}

div.container{
	width: 100%;
	height: 100%;
	margin:35px auto;
	font-family: sans-serif;
	position:absolute;
	top:5%;
	left:19%;
	margin-top:-2%;
	margin-left:-2%;
}

div.main{
	width: 60%;
	padding: 10px 50px 25px;
	border: 2px solid gray;
	border-radius: 10px;
	float:left;
	margin-top:50px;
	background-color: white;
	align: middle;
	background: linear-gradient(#EBEBEB 5%, #FFFFFF 100%);
}

 
.grupo:before, .grupo:after {
    content: " ";
    display: table;
}
 
.grupo:after {
    clear: both;
} 
 
.campo outputLabel {
    margin-bottom: 0%;
    display: block;
    color: #464646;
	font-size: 14px;
	font-weight: bold;
}
 
fieldset.grupo .campo {
    float: left;
    margin-right: 160;
    width: 25%;
	height: 5%;
	padding: 5px;
	margin-bottom: 5%;
	margin-top: -10;
	margin-left:-20;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

 
.campo select option {
    padding-right: 20%;
}
 
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}
 
.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}
 
.botao {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
 
.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
 
.botao, select, label.checkbox {
    cursor: pointer;
}


.input_mat {
	width: 40%;
	height: 6%;
	padding: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}


.input_text {
	width: 100%;
	height: 6%;
	padding: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

input[type=password]{
	width: 170%;
	height: 120%;
	padding: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

.input_radio]{
	width: 5%;
	height: 5%;
	padding: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

input[type=date]{
	width: 170%;
	height: 120%;
	padding: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

select {
	width: 170%;
	height: 120%;
	padding: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

.select_multiple {
	width: 170%;
	height: 120%;
	padding: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
	text-align: left;
	text-indent: 5px;
	
}

.text_area {
	width: 100%;
	height: 20%;
	padding: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
	border: 2px solid #ccc;
	color: #4f4f4f;
	font-size: 16px;
	border-radius: 5px;
}

input[type=reset]{
	font-size: 16px;
	background: linear-gradient(#EBEBEB 5%, #FFFFFF 100%);
	font-weight: bold;
	cursor: pointer;
	width: 20%;
	border-radius: 5%;
	padding: 10px 0;
	outline:none;
}

input[type=submit]{
	font-size: 16px;
	background: linear-gradient(#EBEBEB 5%, #FFFFFF 100%);
	font-weight: bold;
	cursor: pointer;
	width: 20%;
	border-radius: 5%;
	padding: 10px 0;
	outline:none;
}

input[type=reset]:hover{
background: linear-gradient(#D9D9D9 50%, #9C9C9C 100%);
}

input[type=submit]:hover{
background: linear-gradient(#D9D9D9 50%, #9C9C9C 100%);
}


